In [33]:
!pip install pandas
!pip install scikit-learn

Requirement already satisfied: pandas in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from scikit-learn) (2.3.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [35]:
## load the dataset

data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [36]:
## preprocess the data
## drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [37]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [38]:
## Encode caterorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [39]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [40]:
## oneHotEncode 'Geography
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
geo_encoded=ohe.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [41]:
geo_encoded.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [42]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [43]:
geo_encoded_df=pd.DataFrame(geo_encoded.toarray(),columns=ohe.get_feature_names_out(['Geography']))

In [44]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [45]:
## combine all columns

data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [46]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [47]:
## save the encoders
with open('label_encoder_gender.pkl','wb') as file:
      pickle.dump(label_encoder_gender,file)

with open('ohe.pkl','wb') as file:
      pickle.dump(ohe,file)

In [48]:
## Decide the dataset into independent and dependent features

x=data.drop('Exited',axis=1)
y=data['Exited']

## split the data in trainng and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)


## Scale these features
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [49]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]], shape=(8000, 12))

In [50]:
with open('scaler.pkl','wb') as file:
      pickle.dump(scaler,file)

## ANN Implementation

In [51]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (2.20.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google_pasta>=0.1.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt_einsum>=2.3.2 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (25.0)
Requirement already satisfied: protobuf>=5.28.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (6.32.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (2.32.4)
Requirement already satisfied: setuptools in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (80.9.0)
Requirement already satisfied: six>=1.12.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing_extensions>=3.6.6 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (4.14.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (1.17.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (1.74.0)
Requirement already satisfied: tensorboard~=2.20.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (2.20.0)
Requirement already satisfied: keras>=3.10.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (3.11.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (2.3.2)
Requirement already satisfied: h5py>=3.11.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (3.14.0)
Requirement already satisfied: ml_dtypes<1.0.0,>=0.5.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorflow) (0.5.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras>=3.10.0->tensorflow) (14.1.0)
Requirement already satisfied: namex in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras>=3.10.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras>=3.10.0->tensorflow) (0.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2025.8.3)
Requirement already satisfied: markdown>=2.6.8 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.8.2)
Requirement already satisfied: pillow in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (11.3.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.20.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from rich->keras>=3.10.0->tensorflow) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from rich->keras>=3.10.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.10.0->tensorflow) (0.1.2)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [52]:
!pip install keras

Requirement already satisfied: keras in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (3.11.2)
Requirement already satisfied: absl-py in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (2.3.1)
Requirement already satisfied: numpy in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (2.3.2)
Requirement already satisfied: rich in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (14.1.0)
Requirement already satisfied: namex in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (0.1.0)
Requirement already satisfied: h5py in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (3.14.0)
Requirement already satisfied: optree in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (0.17.0)
Requirement already satisfied: ml-dtypes in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (0.5.3)
Requirement already satisfied: packaging in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from keras) (25.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from optree->keras) (4.14.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from rich->keras) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from rich->keras) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\pranav\onedrive\end-to-end_ann_dl_project\venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [53]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import datetime

In [54]:
## Buils our ANN model
model=Sequential([
      Dense(64,activation='relu',input_shape=(x_train.shape[1],)),## HL! connected with input layer
      Dense(32,activation='relu'),## HL2
      Dense(1,activation='sigmoid') ## output layer
])

c:\Users\pranav\OneDrive\end-to-end_ANN_DL_project\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [55]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [56]:

opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [57]:
## compile the model
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [58]:
## setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="logs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [59]:
## set up early stopping
## if after some ephocs your loss value is not decreasing you can stop 

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [60]:
## train the model
history=model.fit(
      x_train,y_train,validation_data=(x_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8353 - loss: 0.3938 - val_accuracy: 0.8510 - val_loss: 0.3558
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8565 - loss: 0.3518 - val_accuracy: 0.8580 - val_loss: 0.3516
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8550 - loss: 0.3503 - val_accuracy: 0.8590 - val_loss: 0.3416
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8625 - loss: 0.3422 - val_accuracy: 0.8595 - val_loss: 0.3533
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8591 - loss: 0.3437 - val_accuracy: 0.8565 - val_loss: 0.3548
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8640 - loss: 0.3380 - val_accuracy: 0.8505 - val_loss: 0.3462
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8633 - loss: 0.3367 - val_accuracy: 0.8585 - val_loss: 0.3385
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8641 - loss: 0.3357 - val_accuracy: 0.8545 - val_loss: 0.3513
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8630 - loss: 0.3347 - val_accuracy: 0.8540 - val_loss: 0.3445
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8666 - loss: 0.3297 - val_accuracy: 0.8580 - val_loss: 0.3565
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8652 - loss: 0.3289 - val_accuracy: 0.8555 - val_loss: 0.3576
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8673 - loss: 0.3269 - val_accuracy: 0.8540 - val_loss: 0.3684
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8660 - loss: 0.3290 - val_accuracy: 0.8565 - val_loss: 0.3538
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8694 - loss: 0.3227 - val_accuracy: 0.8535 - val_loss: 0.3637
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8683 - loss: 0.3213 - val_accuracy: 0.8560 - val_loss: 0.3594
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8683 - loss: 0.3189 - val_accuracy: 0.8525 - val_loss: 0.3584
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8659 - loss: 0.3214 - val_accuracy: 0.8590 - val_loss: 0.3605

In [61]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [62]:
## Load tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit

In [ ]:
## load the pickle file